# Gemini
client_secret.json
token.json
output.txt
resolve-wizard-3091eca562a4.json

# Dependencies
/node_modules

# Vite
/dist
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local .env files
.env*.local

# Editor Directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?