modules = ["nodejs-20", "web"]
run = "npm run preview -- --host 0.0.0.0"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run preview -- --host 0.0.0.0"]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "npm run build"]

[[ports]]
localPort = 4173
externalPort = 80

[[ports]]
localPort = 5173
externalPort = 5173
