modules = ["nodejs-20", "web"]
run = "npm run preview -- --host 0.0.0.0"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run preview -- --host 0.0.0.0"]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "npm run build"]

[[ports]]
localPort = 5173
externalPort = 80

[workflows]
runButton = "Development"

[[workflows.workflow]]
name = "Development Server"
author = 27264320
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev -- --host 0.0.0.0"

[[workflows.workflow]]
name = "Development"
author = 27264320
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev -- --host 0.0.0.0"
